<nav class="navbar navbar-expand-md sticky-top bg-light navbar-light">
  <a href="#" class="navbar-brand">
    <img src="/img/logo.png" alt="FORESE Logo" width="80" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target=".navbar-collapse"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto text-uppercase">
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="#">Nilesh</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="members/logout">Logout<i class="ml-2 fas fa-sign-out-alt fa-lg"></i></a>
      </li>
    </ul>
  </div>
</nav>
