<table class="table table-bordered table-hover text-center" id="interviewers">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Students Assigned</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <%- body %>
  </tbody>
</table>
