<% layout("layouts/boilerplate") -%>

<main class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <a href="/interviewers" class="btn btn-primary btn-block mb-2">View All Interviewrs</a>
        <a href="/students" class="btn btn-secondary btn-block">View all Students</a>
      </div>
    </div>
  </div>
</main>
