<div class="form-group">
  <label><b>Interviewer Name</b></label>
  <input type="text" name="name" class="form-control name" placeholder="Enter Name" required />
</div>

<div class="form-group">
  <label><b>Interviewer Company</b></label>
  <input type="text" name="company" class="form-control company" placeholder="Enter Company"  required />
</div>

<div class="form-group">
  <label><b>Interview Date</b></label>
  <select name="interview_date" class="form-control interview_date" required>
    <option class="option1" value="" selected></option>
    <option class="option2" value=""></option>
  </select>
</div>
