<div class="form-group">
  <label><b>Interviewer Name</b></label>
  <input type="text" class="form-control" name="name" placeholder="Enter Name" required />
</div>

<div class="form-group">
  <label><b>Interviewer Company</b></label>
  <input type="text" name="company" class="form-control" placeholder="Enter Company" required />
</div>

<div class="form-group">
  <label><b>Interview Date</b></label>
  <select name="interview_date" class="form-control" required>
    <option value="" selected disabled>Enter Interview Date</option>
    <option value="2021-02-20">20 February, 2021</option>
    <option value="2021-02-21">21 February, 2021</option>
  </select>
</div>
